body{
    font-family: 'Montserrat' !important;
 }
 img {
    width: 100%;
 }
 .navigation{
    background-color: rgb(16, 16, 58);
    padding: 10px 130px !important;
 }
 .navigation a:hover{
    text-decoration: underline;
 }
 .navigation-link {
    color: white !important;
    
 }
 .nav-connector {
     color: white !important;
 }
 .nav-links{
    margin-left: 460px;
 }
 #dropdown-link {
    color: black !important;
    font-weight: 600 !important;
 }
 
.header-text{
    background-image: url(/img/pexels-denys-gromov-4599937.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-text h1{
    color: white;
    text-align: center;
    padding: 130px 0 100px 0;
    font-size: 40px;
}
.contact{
    background-color: rgb(17, 17, 80);
    padding: 130px 0px 130px 0px;
}
.contact-content-holder{
    margin: 0 auto !important;
    width: 80% !important;
}

.contact-container h6{
    color: orangered;
    margin: -30px 0 20px 0;
}
.contact-container span{
    font-size: 35px;
    color: white;
    line-height: 28px;
}
.contact-container p{
    color: white;
    margin: 10px 0 20px 0;
}
.contact-container h5{
    color: white;
    margin-bottom: 30px;
}
.contact-text h6{
    color: white;
    margin: 10px 0 40px 0;
}
.contact-content{
    display: flex;

}
.contact-box{
    display: flex;
    margin-right: 30px;
}
.contact-box h6{
    color: white;
    margin-top: -7px;
}
.contact-box p{
    line-height: 21px;
    margin-top: -17px;
}
.sticker{
    color: orangered;
    margin: 0 10px 0 0;
}
.icon{
    color: white;
    padding: 10px 10px 0 0 ;
    
}
.show-room{
    background-image: url(/img/staffjpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    height: 500px;
    margin-top: -22px;
    padding: 87px 0 50px 200px;
    color: white;
}
.show-room h6{
    color: orangered;
    margin-bottom: 20px;
}
.show-room span{
    font-size: 36px;
    color: white;
    line-height: 30px;
}
.show-room p{
    margin: 20px 0 20px 0;
}
.show-room-content{
    display: flex;
}
.logo{
    color: orangered;
    padding-right: 18px;
    margin-top: 10px;
}
.show-room-content h6{
    color: white;

}
.show-room-content p{
    margin-top: -17px;
    
}
.contact-form{
    background-color: rgb(17, 17, 78);
    padding: 60px 0;
}
.contact-form-text h6{
    color: orangered;
    margin-bottom: 20px;
}
.contact-form-text p{
    font-size: 25px;
    color: white;
    line-height: 27px;
    margin-top: -13px;
}
.contact-form-container{
    width: 80% !important;
    margin: 0 auto !important;
}
.form{
    margin-top: -10px;
}
label{
    color: white;
}
.phone{
    margin: -53px 0 0 230px;
}
input[type=tel]{
    height: 28px;

}
.email{
    margin-top: -35px;
}
.email input[type=email]{
    width: 437px;
    height: 28px;
}
.message{
    margin-top: -30px;
}
input[type=submit]{
     width: 440px;
     background-color: orangered;
     color: white;
     height: 30px;
}
.submit{
    margin-top: -45px;

}
.company-information {
    background-image: url(/img/deep.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 150px !important;
    color: white;
 
 }
 
 .company-data h5 {
    letter-spacing: 10px;
    font-weight: 800;
 }
 
 .address {
    display: flex;
 }
 
 .company-connector {
    display: block;
    text-decoration: none;
    background-color: orangered;
    width: 250px;
    color: white;
    padding: 5px 20px;
    text-align: center;
 }
 
 .company-link {
    display: block;
    text-decoration: none;
    background-color: rgb(5, 5, 26);
    width: 250px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 15px;
 }
 
 .design {
    border-bottom: 3px solid orangered;
    width: 30px;
    margin: 14px 0 14px 0;
 }
 
 .icons {
    color: orangered;
    padding-right: 7px;
 }
 
 .footer-details {
    background-color: rgb(11, 11, 75);
    padding: 20px 80px;
 }
 
 .footer-connect-container {
    margin-right: -160px;
 }
 
 .footer-link {
    text-decoration: none;
    color: white;
    padding-right: 15px;
 }
 
 .footer-connect {
    color: orangered;
    margin-left: 140px;
 }
 
 .footer-content {
    background-color: rgb(10, 10, 51);
    padding: 20px 80px;
    color: white;
 }
 
 .footer-connector {
    color: white;
    margin-left: 10px;
 }
 
 .footer-copyright {
    margin-right: -22px;
 }
 
 .footer-connector-holder {
    margin: 0 -115px 0 0px;
 }

 @media screen and (max-width: 758px) {
    .navigation{
        padding: 10px 20px !important;
     }
     .nav-icon{
        color: white;
     }
     .nav-links{
        margin-left: 0px;
     }
    .contact-content-holder{
        margin: 0 !important;
        width: 100% !important;
    }
    .contact-container{
        margin-top: 50px !important;
    }
    .sticker{
        color: orangered;
        margin: 0 15px 0 0;
    }
    .show-room{
        height: 520px;
        margin-top: -22px;
        padding: 60px 0 50px 20px;
    }
    .contact-form-container{
        width: 100% !important;
        margin: 0 !important;
    }
    .contact-form-text{
        margin-top: 20px !important;
    }
    .company-information {
        padding: 100px 20px !important;
        color: white;
     }
     .company-data{
        margin-bottom: 20px;
     }
     .footer-details {
        padding: 20px 10px !important;
     }
     .footer-connect-container {
        margin-right: 0px;
     }
     
     .footer-connect {
        margin: 20px 0 0 0;
        display: block;
     }
     .footer-content {
        background-color: rgb(10, 10, 51);
        padding: 20px 10px;
        color: white;
     }
     
     .footer-connector {
        color: white;
        margin-left: 10px;
     }
     
     .footer-copyright {
        margin-right: 0px;
     }
     
     .footer-connector-holder {
        margin: 0 0px 0 -20px;
     }
     .company-details-container{
        margin-bottom: 20px;
     }
     
  
  }

  @media screen and (max-width: 414px) {
    .navigation{
        background-color: rgb(16, 16, 58);
        padding: 10px 20px !important;
        width: 100% !important;

     }
     .nav-links{
        margin-left: 0px;
     }
     .contact{
        background-color: rgb(17, 17, 80);
        padding: 60px 0;
    }
    .contact-content{
        display: block;
    
    }

.form{
    margin-top: -10px;
}
.phone{
    margin: 10px 0 0 0px;
}
.email input[type=email]{
    width: 208px;
}
input[type=submit]{
     width: 212px;
}
.submit{
    margin-top: -45px;

}

  }
 