body {
   font-family: 'Montserrat' !important;
}

img {
   width: 100%;
}
.navigation{
   background-color: rgb(16, 16, 58);
   padding: 10px 130px !important;
}
.navigation a:hover{
   text-decoration: underline;
}
.navigation-link {
   color: white !important;
   
}
.nav-connector {
    color: white !important;
}
.nav-links{
   margin-left: 460px;
}
#dropdown-link {
   color: black !important;
   font-weight: 600 !important;
}

.header-text {
   background-image: url(/img/tyre.jpg);
   height: 300px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin-top: -34px;
}

.header-text h1 {
   color: white;
   text-align: center;
   padding: 130px 0 100px 0;
   font-size: 50px;
   margin-top: 30px;
}

.about-service {
   background-color: rgb(21, 21, 66);
   padding: 50px 100px;
   color: white;
}
.about-service-container{
   margin: 0 auto !important;
   width: 80% !important;
}
.about-service-holder h6 {
   color: #ff4500;
   margin: 15px 0 30px 0;
}

.about-service-holder p {
   font-size: 30px;
   margin-top: -15px;
   line-height: 30px;
}

.about-service-content p {
   margin: 14px 0 30px 0;
}

.about-service-link a {
   text-decoration: none;
   background-color: orangered;
   color: white;
   padding: 12px 20px;
   margin-right: 10px;
}

.sticker {
   margin-right: 7px;
}

.service-offer-container{
   margin: 0 auto 30px auto !important;
   color: white;
   width: 90% !important;
}

.service-offer {
   text-align: center;
   background-color: rgb(11, 11, 59);
   padding: 40px 210px;
   color: white;
}

.service-offer-box h6 {
   color: orangered;
}

.service-offer-box p {
   font-size: 40px;
   margin-bottom: 26px;
}
.service-offer-content{
   margin-right: 20px;
   background-color: rgb(15, 15, 87);
   padding: 20px 30px;
}
.font-icon{
   margin-bottom: 30px;
}

.style {
   width: 50px;
   margin: 15px auto !important;
   border-bottom: 2px solid white;
}

.connect a {
   color: white;
   text-decoration: none;
}

.connect a:hover {
   text-decoration: underline;
}

.promo-offer-container{
   background-image: url(/img/mechanic.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.promo-offer{
   width: 50%;
   color: white;
   padding: 100px 0 100px 150px;
}
.promo-offer span{
   font-size: 40px;
   font-weight: bold;
   line-height: 28px;
}
.promo-offer h6{
   color: orangered;
   margin-bottom: 20px;
}
.promo-offer p{
   font-size: 20px;
   margin: 10px 0 20px 0;
   line-height: 25px;
}
.promo-offer-container a{
   text-decoration: none;
   background-color: orangered;
   padding: 5px 12px;
   color: white;
}

.about-exprience{
   background-color: rgb(8, 8, 37);
   color: white;
   padding: 100px 0;
}
.about-exprience-holder{
  margin: 0 auto !important;
  width: 80% !important;
}

.about-exprience-container h6{
   color: red;
}
.about-exprience-container span{
   font-size: 36px;
   font-weight: bold;
   line-height: 28px;
}
.about-exprience-container p{
   margin: 10px 0 30px 0;
   color: white;
   line-height: 20px;
}
.about-exprience-pack{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.about-exprience-pack span{
   font-size: 12px;
   color: red;
   margin-left:50px ;
}
.about-exprience-pack p{
   margin: 0 20px 0 50px ;
   font-size: 12px;
   line-height: 15px;
}
.logo{
   color: red;
}
.about-exprience-data{
   margin: 0 20px 20px 0;
   background-color: rgb(11, 11, 78);
   padding: 15px 15px;
}
.testimonial{
   background-color: rgb(11, 11, 68);
}
.testimonial-image{
  margin-left: -12px;
}
.testimonial-container{
   padding: 40px 180px 0 0px;

}
.testimonial-container h6{
   color: red;
}
.testimonial-container span{
   font-size: 26px;
   color: white;
}
.testimonial-container p{
   color: white;
}
.testimonial-information{
   background-color: rgb(7, 7, 46);
   padding: 20px 20px;
}
.star{
   padding: 0 10px 20px 0;
   width: 30px;
}
.testimonial-details{
   display: flex;
   align-items: center;
}
.testimonial-details span{
       color: red;
       font-size: 12px;
}
.testimonial-details img{
   width: 50px;
   height:50px;
   border-radius: 50%;
}
.testimonial-data{
   margin-left: 10px;
   line-height: 5px;
}

.company-information {
   background-image: url(/img/deep.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 100px 150px !important;
   color: white;

}

.company-data h5 {
   letter-spacing: 10px;
   font-weight: 800;
}

.address {
   display: flex;
}

.company-connector {
   display: block;
   text-decoration: none;
   background-color: orangered;
   width: 250px;
   color: white;
   padding: 5px 20px;
   text-align: center;
}

.company-link {
   display: block;
   text-decoration: none;
   background-color: rgb(5, 5, 26);
   width: 250px;
   color: white;
   padding: 5px 20px;
   text-align: center;
   margin-bottom: 15px;
}

.design {
   border-bottom: 3px solid orangered;
   width: 30px;
   margin: 14px 0 14px 0;
}

.icons {
   color: orangered;
   padding-right: 7px;
}

.footer-details {
   background-color: rgb(11, 11, 75);
   padding: 20px 80px;
}

.footer-connect-container {
   margin-right: -160px;
}

.footer-link {
   text-decoration: none;
   color: white;
   padding-right: 15px;
}

.footer-connect {
   color: orangered;
   margin-left: 140px;
}

.footer-content {
   background-color: rgb(10, 10, 51);
   padding: 20px 80px;
   color: white;
}

.footer-connector {
   color: white;
   margin-left: 10px;
}

.footer-copyright {
   margin-right: -22px;
}

.footer-connector-holder {
   margin: 0 -115px 0 0px;
}

@media screen and (max-width: 758px) {
   .navigation{
      padding: 10px 20px !important;
   }
   .nav-icon{
      color: white;
   }
   .nav-links{
      margin-left: 0px;
   }
   .about-service {
      padding: 50px 20px;
   }
   .about-service-container{
      margin: 0 !important;
      width: 100% !important;
   }
   .service-offer-container{
      margin: 0 auto 0px auto !important;
      width: 100% !important;
   }
   
   .service-offer {
      padding: 40px 20px !important;
   }
   .service-offer-content{
      margin: 0 0px 30px 0;
      padding: 20px 30px;
   }
   .promo-offer{
      padding: 60px 0 60px 20px;
   }
   .about-exprience-holder{
      margin: 0 !important;
      width: 100% !important;
    }
    .about-exprience-data{
      margin: 0 0px 20px 0;
      padding: 15px 15px;
      width: 57% !important;
   }
   .about-exprience-pack{
      margin-bottom: 25px;
   }
   .testimonial{
      padding: 50px 20px !important;
   }
   .testimonial-image{
     margin-left: 0px;
   }
   .testimonial-container{
      padding: 40px 0px 0 0px;
   
   }
   .company-information {
      padding: 100px 20px !important;
      color: white;
   }
   .company-data{
      margin-bottom: 20px;
   }
   .footer-details {
      padding: 20px 10px !important;
   }
   .footer-connect-container {
      margin-right: 0px;
   }
   
   .footer-connect {
      margin: 20px 0 0 0;
      display: block;
   }
   .footer-content {
      background-color: rgb(10, 10, 51);
      padding: 20px 10px;
      color: white;
   }
   
   .footer-connector {
      color: white;
      margin-left: 10px;
   }
   
   .footer-copyright {
      margin-right: 0px;
   }
   
   .footer-connector-holder {
      margin: 0 0px 0 -20px;
   }
   .company-details-container{
      margin-bottom: 20px;
   }
   

}
@media screen and (max-width: 414px) {
   .about-service-link a{
      display: block;
      width: 58%;
      margin-bottom: 15px;
      text-align: center;
   }
}